body{
    background: linear-gradient(50deg, #229955, #696969);
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
nav{
    background-color: rgba(0, 0, 0, 0.2);
    margin: -8px;
    padding: 15px 5px 10px 5px;
    border-radius: 0 0 10px 10px;
}
nav a{
    background-color: rgba(248, 249, 242, 0.2);
    padding: 2px;
    margin: 10px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

/* Seção 1 */

.All{
    margin: 50px 5px 0 5px;
    background-color: #696969;
    border-radius: 30px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
}
.Dentro{
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 10px;
    margin: 5px 70px 5px 70px;
    border-radius: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.Dentro h1{
    color: white;
}
.fund{
    color: #4B0082;
}
.don{
    color: red;
}
.rec{
    color: darkorchid;
}





.Voltar{
    width: 100px;
    height: 30px;
    margin-top: 20px;
    border: none;
    background-color: #696969;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
}

.Voltar img{
    width: 20px;
    height: 20px;
}
footer p{
    font-size: 20px;
    padding: 50px 0 20px 0;
}

@media (max-width: 410px) {
    nav{
        padding: 15px 3px 10px 3px;
    }
    nav a{
        margin: 5px;
        font-size: 10px;
    }
}
